.A
{
    background-image:url(7.jpg) ;
   
    background-repeat: no-repeat;
    background-size: 100% 650px;
    height: 4310px;
    /* opacity: 0.2; */
}
ul
{
 list-style: none;
 margin: 0;
 padding: 0;
 
}
.logo{
    color: rgb(8, 8, 8);
   font-size: 28px;
   font-style: italic;
   font-variant: small-caps;
   letter-spacing: 2px;
  
}
.logo2{
    color: crimson;
}
ul li
{
    width: 150px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.267);
    font-size: 20px;
    display: inline-block;
    text-align: center;
   line-height: 40px;
   opacity: O.8;
   float: left;
}
ul li a
{
   
    text-decoration: none;
    color: rgb(255, 244, 244);
    display: block;
}
ul li a:hover{
    background-color: rgb(255, 0, 0);
}
ul li ul li {
    display: none;
}
ul li:hover ul li{
    display: block;
}
.remnu{
    float: right;
}
.B{
    color: rgb(255, 255, 255);
    font-size: 80px;
    text-align: center;
    letter-spacing: 10px;
    font-style: italic;
    opacity: 0.2;
}
.C
{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 90px;
    font-style: italic;
}
.D
{
    font-size: 20px;
}
.G{
 font-size: 18px;
 
}
.F{
    display: inline-block;
  width: 900px;
  height: 30px;
 
}
.L{
    font-size: 20px;
}
.I{
    display: inline-block;
    width: 500px;
    height: 30px;
    font-size: 20px;
    background-color: rgb(0, 183, 255);
    color: rgb(255, 244, 244);
    font-style: oblique;
}
.P{
    display: inline-block;
    width: 500px;
    height: 30px;
    font-size: 20px;
    background-color: rgba(0, 79, 248, 0.644);
    color: rgb(255, 244, 244);
    font-style: oblique;
}
.M
{
   justify-content: center;
    display: flex;
    margin-top: 100px;
}
.M img{
    display: inline-block;
    width: 55px;
    padding-left: 50px;
    padding-right: 50px;
}